In [1]:
# Importación de librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [41]:
# Carga de dataset

datos = pd.read_csv("residente_limpio.csv")
datos

,Unnamed: 0,PAREN,SEXO,EDAD,P3_7,NIVEL,GRADO,P3_9_1,P3_9_2,P3_9_3,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT,code
0,0,1,2,41,2.0,10.0,2.0,1.0,1.0,1.0,1,7,U,1,3,1,1000231
1,1,1,1,46,2.0,6.0,3.0,2.0,1.0,1.0,1,7,U,1,3,1,1000232
2,2,2,2,47,2.0,3.0,3.0,2.0,1.0,1.0,1,7,U,1,3,1,1000232
3,3,3,2,23,2.0,6.0,3.0,1.0,1.0,1.0,1,7,U,1,3,1,1000232
4,4,3,2,17,1.0,6.0,2.0,1.0,1.0,1.0,1,7,U,1,3,1,1000232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205904,205904,1,1,66,2.0,2.0,6.0,2.0,2.0,2.0,8235,337,R,4,1,32,326079418
205905,205905,2,2,67,2.0,3.0,3.0,2.0,2.0,2.0,8235,337,R,4,1,32,326079418
205906,205906,3,2,35,1.0,2.0,6.0,2.0,1.0,1.0,8235,337,R,4,1,32,326079418
205907,205907,1,1,73,2.0,2.0,3.0,2.0,2.0,2.0,8235,337,R,4,1,32,326079419
205908,205908,1,2,76,2.0,2.0,3.0,2.0,2.0,2.0,8235,337,R,4,1,32,326079420

In [42]:
# Carga de dataset

datos = pd.read_csv("vivienda_hogar_limpio.csv")
datos

,Unnamed: 0,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P1_5_3,P2_1,P2_2,...,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_2_1,P4_2_2,P4_4,MediaGrado
0,0,3,1,1,1,1,1,1,1,1,...,1,2,2,1,2,1,2,1,1,2.000000
1,1,3,1,1,1,1,1,1,6,1,...,2,2,2,1,2,1,2,1,1,2.500000
2,2,3,1,1,1,1,1,1,2,1,...,2,1,2,1,1,1,2,1,1,2.500000
3,3,3,1,1,1,1,1,2,9,1,...,1,2,2,1,1,1,2,1,1,4.000000
4,4,3,1,1,1,1,1,2,3,1,...,2,2,2,1,2,1,2,1,1,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59280,59280,2,1,2,1,1,2,2,3,1,...,2,2,2,1,2,1,2,2,2,3.333333
59281,59281,2,2,2,1,1,2,2,3,1,...,2,1,2,2,2,1,2,2,2,3.333333
59282,59282,2,2,2,1,1,1,2,3,1,...,2,2,2,1,2,1,2,2,2,5.000000
59283,59283,2,3,2,1,1,2,2,1,1,...,2,2,2,1,2,2,2,2,2,3.000000
59284,59284,2,1,2,1,1,1,2,1,1,...,2,2,2,1,2,2,2,2,2,3.000000

In [43]:
datosCat = pd.concat([pd.get_dummies(datos['P1_1']).rename(columns={1:'P1_1-1',
                                                                2:'P1_1-2',
                                                                3:'P1_1-3'
                                                    }),
                  pd.get_dummies(datos['P1_2']).rename(columns={1:'P1_2-1',
                                                                2:'P1_2-2',
                                                                3:'P1_2-3',
                                                                4:'P1_2-4',
                                                                5:'P1_2-5',
                                                                6:'P1_2-6'
                                                                
                                                    }),
                  pd.get_dummies(datos['P1_3']).rename(columns={1:'P1_3-1',
                                                                2:'P1_3-2',
                                                                3:'P1_3-3',
                                                                4:'P1_3-4',
                                                                5:'P1_3-5'                                                                
                                                    }),
                  pd.get_dummies(datos['P1_4']).rename(columns={1:'P1_4-1',
                                                                2:'P1_4-2'                                                                
                                                    }),
                    datos['MediaGrado']], axis=1)
datosCat

,P1_1-1,P1_1-2,P1_1-3,P1_2-1,P1_2-2,P1_2-3,P1_2-4,P1_2-5,P1_2-6,P1_3-1,P1_3-2,P1_3-3,P1_3-4,P1_3-5,P1_4-1,P1_4-2,MediaGrado
0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,2.000000
1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,2.500000
2,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,2.500000
3,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,4.000000
4,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59280,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,3.333333
59281,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,3.333333
59282,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,5.000000
59283,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,3.000000
59284,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,3.000000

In [60]:
X = datosCat.drop(labels="MediaGrado", axis=1)
y = datosCat['MediaGrado']

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                        train_size   = 0.8,
                                        random_state = 1234,
                                        shuffle      = True
                                    )
#https://www.cienciadedatos.net/documentos/py06_machine_learning_python_scikitlearn.html

In [61]:
print(y_train.describe())

count    47428.000000
mean         3.252805
std          1.112645
min          0.000000
25%          2.666667
50%          3.000000
75%          4.000000
max          9.000000
Name: MediaGrado, dtype: float64

In [63]:
print(y_test.describe())

count    11857.000000
mean         3.247205
std          1.093388
min          0.000000
25%          2.666667
50%          3.000000
75%          4.000000
max          9.000000
Name: MediaGrado, dtype: float64

In [ ]:
X_train_prep = preprocessor.fit_transform(X_train)
X_test